*{
  font-family:'Roboto Condensed', sans-serif;
}

/* Navbar */
.gold{
  color:#D4AF37;
}
.blue{
  color: #ffffff;
}

#bg{
  background-color:white;
}

ul li a{
  margin: 8px;
  color: white;
}
ul li a:hover{
  margin: 8px;
  color: white;
  text-decoration-line: none;
}


/* End Navbar */

/* intro */
.intro p{
  font-size: 16px;
}
/* end intro */

/* pricing plan */
.two{
  box-shadow:0 0 10px;
}
/* end pricing plan */

/* footer */
.footer{color: #fff;
float:left;
width: 100%;
padding-bottom:3%;
}
/* end footer */
